<header class="header">
  <div class="header__inner container">
    <a class="logo" href="main.html" title="На главную"><img src="images/logo.png" alt="PROFIL DOORS"></a>
    <div class="header__phone">
      <a href="tel:+74957742904">+7 (495) 774-29-04</a>
    </div>
    <button class="js-menu-opener menu-opener" type="button" title="Меню"><span class="menu-opener__burger"></span></button>
  </div>
  <nav class="menu-block">
    <div class="menu-block__inner">
      <div class="service-menu">
        <ul class="service-menu__list">
          <li class="service-menu__item"><a class="service-menu__link is-active" href="#">О нас</a></li>
          <li class="service-menu__item"><a class="service-menu__link" href="#">Блог</a></li>
          <li class="service-menu__item"><a class="service-menu__link" href="#">Установка</a></li>
        </ul>
        <ul class="service-menu__list">
          <li class="service-menu__item"><a class="service-menu__link" href="#">Доставка</a></li>
          <li class="service-menu__item"><a class="service-menu__link" href="#">Услуги</a></li>
          <li class="service-menu__item"><a class="service-menu__link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__item"><a class="main-menu__link is-active" href="#">Межкомнатные двери</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#">Входные двери</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#">Раздвижные двери</a></li>
        </ul>
        <ul class="main-menu__list">
          <li class="main-menu__item"><a class="main-menu__link" href="#">Перегородки</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#">Фурнитура</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>