.about
  margin-bottom: 40px

  @media(min-width: 768px)
    display: flex
    margin-bottom: 60px

  @media(min-width: 1200px)
    align-items: center

  img
    @media(max-width: 767px)
      margin-bottom: 30px

  &__image
    @media(min-width: 768px)
      min-width: 41%
      width: 41%

    @media(min-width: 1200px)
      min-width: 57%
      width: 57%

  &__text
    @media(min-width: 768px)
      padding-left: 80px

    @media(min-width: 1200px)
      padding-left: 80px
      padding-right: 80px
