.products-section
  margin-bottom: 40px

  @media(min-width: 1200px)
    margin-bottom: 70px

  &__title
    margin-bottom: 0

  &__title-block
    margin-bottom: 35px

    @media(min-width: 768px)
      display: flex
      justify-content: space-between

    @media(min-width: 1200px)
      margin-bottom: 45px

  .slick-arrow
    height: 30px
    width: 30px
    z-index: 1

  .slick-arrow__icon
    height: 10px
    width: 22px

    @media(min-width: 1200px)
      height: 12px
      width: 28px

.products-slider
  margin-bottom: 15px

  @media(max-width: 767px)
    padding-left: 40px
    padding-right: 40px

  .slick-track
    margin-left: 0
    margin-right: 0

  .slick-arrow
    height: 30px
    width: 30px

  .slick-arrow__icon
    height: 10px
    width: 22px

    @media(min-width: 1200px)
      height: 12px
      width: 28px

.products-slider-nav
  position: relative
  width: 90px

.product
  color: #222
  display: block
  font-size: 15px
  margin-left: auto
  margin-right: auto
  text-decoration: none
  width: 150px

  @media(max-width: 767px)
    text-align: center

  @media(min-width: 768px)
    width: 113px

  @media(min-width: 980px)
    width: 150px

  @media(min-width: 1200px)
    font-size: 17px
    width: 178px

  &:hover,
  &:focus
    text-decoration: underline

    img
      transform: scale(1.05)

  &__image
    margin-bottom: 15px
    text-align: center

    img
      display: initial
      transform: scale(1)
      transition: transform 0.3s

  &__stock
    background-color: #707095
    color: #fff
    display: inline-flex
    font-size: 9px
    font-weight: 700
    line-height: 11px
    margin-top: 30px
    padding: 7px 5px
    text-transform: uppercase

  &__stock-icon
    fill: #fff
    height: 11px
    margin-right: 5px
    width: 11px

  &__title
    display: block
    margin-top: 5px
    line-height: 1.3

    @media(max-width: 767px)
      text-align: center

    @media(min-width: 768px)
      font-size: 13px

    @media(min-width: 1200px)
      font-size: 15px

    &--big
      @media(min-width: 768px)
        font-size: 15px

    &--text_center
      text-align: center
